<?xml version="1.0" encoding="utf-8" ?> 
<JellyPotDef xmlns="urn:Bet:ns:JellyPotAddInsConfig">

    <TinyConfig name="text" isDefault="true">
        plugins : "charmap visualchars table nonbreaking link code paste image",
        paste_word_valid_elements: "b,strong,i,em,h1,h2,h3,h4,ul,ol,li,p,br,table,tr,th,td",
        paste_retain_style_properties: "none",
        entity_encoding : "raw",
        paste_data_images: true,
        valid_elements : "@[id|class|style],strong/b,em/i,#p,-ol,-ul,-li,br,-sub,-sup,-h2,-h3,-h4,div,blockquote,span,table,tr,th,td",
        extended_valid_elements : "img[*],iframe[*],a[href|target]",
        style_formats : [
        { title: "Nadpis 2",   block: "h2"},
        { title: "Nadpis 3",   block: "h3"},
        { title: "Nadpis 4",   block: "h4"},
        { title: "Odstavec",   block: "p"}
        ],
        toolbar1 : "styleselect | bullist numlist | bold italic subscript superscript | link | alignleft aligncenter alignright | charmap visualchars nonbreaking | code | removeformat ",
        content_css : "../assets/css/tiny.css"
    </TinyConfig>

    <TinyConfig name="inline">
        plugins : "charmap visualchars nonbreaking link code paste",
        paste_word_valid_elements: "b,strong,i,em,br",
        paste_retain_style_properties: "none",
        entity_encoding : "raw",
        valid_elements : "@[id|class],strong/b,em/i,br,-sub,-sup,span",
        extended_valid_elements : "a[href|target]",
        forced_root_block : false,
        toolbar1 : "bold italic subscript superscript | link | charmap visualchars nonbreaking | code",
        toolbar2: ""
    </TinyConfig>

    <TinyConfig name="bullets">
        plugins : "charmap visualchars nonbreaking link code paste",
        paste_word_valid_elements: "b,strong,i,em,br",
        paste_retain_style_properties: "none",
        entity_encoding : "raw",
        content_css : "../assets/css/tiny.css",
        valid_elements : "@[id|class|style],strong/b,em/i,#p,-ol,-ul,-li,br,-sub,-sup,-h2,-h3,-h4,div,blockquote,span",
        extended_valid_elements : "a[href|target]",
        forced_root_block : false,
        style_formats : [
        { title: "Hnědý text", inline : "span", classes : 'text-brown' },
        { title: "Oranžový text", inline : "span", classes : 'text-orange' }
        ],
        toolbar1 : "styleselect | bullist | code",
    </TinyConfig>
</JellyPotDef>

