<?xml version="1.0" encoding="utf-8" ?> 
<JellyPotDef xmlns="urn:Bet:ns:JellyPot:RuntimeConfig">
    <Domains>
        <Domain host="localhost" defaultPath="/cs/uvod" />
        <Domain host="127.0.0.1" redirectTo="localhost" />
    </Domains>

    <Settings>
        <Uploads sizeLimit="0" />
        <RunMode mode="debug" />
        <Admin language="cs" />
        <Exceptions catch="false">
            <ErrorPage type="404" href="/cs/404.aspx" />
        </Exceptions>
    </Settings>
</JellyPotDef>