<?xml version="1.0" encoding="utf-8" ?>
<JellyPotDef xmlns="urn:Bet:ns:JellyPot:SiteConfig">

    <!-- Just a project name -->
  	<Project name="pdRezidenti" title="Pekárenský dvůr rezidenti" />

  	<!-- Set up languages -->
  	<Languages>
        <Language name="cs" title="CS" />
        <Language name="en" title="EN" />
    </Languages>

    <!-- Define custom formats -->
    <Formats>
        <Format name="dateTimeLong" format="ddd d.M.yyyy, H:mm" />
        <Format name="dateTimeShort" format="d.M.yyyy, H:mm" />
        <Format name="date" format="d. M. yyyy" />
    </Formats>

    <!-- Declare variables and collections -->
    <Vars>
        <Group title="Obecné">
            <Var name="common" type="Common" title="Obecné" allowEditFor="editor" />
            <Var name="labels" type="Labels" title="Popisky" allowEditFor="editor" />
            <Collection name="navigation" title="Menu" itemType="NavigationItem" defaultOrder="custom" allowEditFor="admin" />
            <Var name="footer" type="Footer" title="Zápatí" allowEditFor="editor" />
        </Group>
        <Group title="Obsah">
            <Var name="mainpage" type="Mainpage" title="Úvodní stránka" allowEditFor="editor" />
        </Group>
        <Group title="Admin">
            <Var name="cookies" type="Cookies" title="Cookies a měření" allowEditFor="editor" />
            <Var name="headCode" type="HeadCode" title="Kód v tagu &amp;lt;head&amp;gt;" allowEditFor="sysAdmin" />
            <Var name="headerCode" type="HeaderCode" title="Kód v hlavičce" allowEditFor="sysAdmin" />
            <Var name="footerCode" type="FooterCode" title="Kód v patičce" allowEditFor="sysAdmin" />
            <Var name="settings" type="Settings" title="Nastavení" allowEditFor="sysAdmin" />
        </Group>
    </Vars>
    
    <!-- Declare types -->
    <Types>
        <!-- Common -->
        <Type name="Common">
            <SimpleText name="pageTitle" title="&amp;lt;title&amp;gt;" desc="(optimálně do 50 znaků)" langDepend="firstValue" required="true" />
            <Text name="metaDescription" title="meta description" desc="(optimálně do 150 znaků)" langDepend="firstValue" required="true" />
            <SimpleImg name="ogImage" title="Open Graph image" desc="obrázek pro sociální sítě (alespoň 1200x630)" />
        </Type>

        <Type name="Labels">
            <SimpleText name="label" title="Label" langDepend="firstValue" />
        </Type>


        

        <!-- Content -->
        <Type name="Mainpage">
            <SimpleText name="title" title="Nadpis" desc="H1" langDepend="firstValue" />
            <TinyText name="introInfo" title="Úvodní Informace" />
            <SimpleText name="note" title="popis" />
            <Collection name="filterMenu" title="Filtr Menu" itemType="FilterMenuItem" />
            <Collection name="tiles" title="Dlaždice" itemType="TilesItem" />
            <TinyText name="actualInfo" title="Aktuální informace" />
            <Collection name="slider" title="Slider" itemType="SliderItem" />
            <TinyText name="newsletterText" title="Novinky e‑mailem" />
            <Collection name="scrollInfo" title="Scroll Info" itemType="ScrollInfoItem" /> 
        </Type>
        <!-- FILTERMENU-->
        <Type name="FilterMenuItem" title="Filtr Menu Položka">
            <SimpleText name="name" title="Název" />
        </Type>

        <!-- DLAŽDICE -->
        <Type name="TilesItem" title="Položka">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
            <SimpleText name="name" title="Název" />
            <Reference name="category" sourceCol="mainpage.filterMenu" />
            <SimpleText name="btn" title="Tlačítko" />
            <SimpleText name="link" title="Odkaz" />
            <Collection name="page" title="Detail Dlaždice" itemType="PageItem" />
        </Type>
        <Type name="PageItem">
            <Img name="introPhoto">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
            <Collection name="infoBlock" title="Info Blok" itemType="InfoBlockItem" />
            <Collection name="textBlock" title="Text Blok" itemType="TextBlockItem" />
        </Type>
        <Type name="InfoBlockItem">
            <TinyText name="blockText" title="Text" />
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
        </Type>
        <Type name="TextBlockItem">
            <TinyText name="text" title="Text" />
            <TinyText name="list" title="Popis" />
            <Collection name="photoBlock" title="Bloky Fotek" itemType="PhotoBlockItem" />
            <SimpleText name="caption" title="Popisek" />
            <File name="file" title="Soubor" />
            <SimpleText name="name" title="Název Souboru" />
        </Type>
        <Type name="PhotoBlockItem">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
        </Type>

        <!-- SLIDER -->
        <Type name="SliderItem">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
            <Date name="date" title="Datum" />
            <TinyText name="sliderText" title="Text Slideru" />
        </Type>

        <!-- SCROLL INFO -->
        <Type name="ScrollInfoItem" title="Info Položka">
            <Img name="map">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
            <SimpleText name="subtitle" title="Podnadpis" desc="H2" />
            <TinyText name="note" title="Popisek" />
            <Collection name="photo" title="Obrázky" itemType="PhotoItem" /> 
        </Type>
        <Type name="PhotoItem" title="Položky Obrázku">
            <Img name="map">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
        </Type>





        
        <!-- Cookies -->
        <Type name="Cookies" title="Cookies">
            <Collection name="cookies" itemType="CookieItem" title="Měřící kódy" defaultOrder="custom" />
            <Bool name="big" title="Otravnější varianta upozornění" desc="Přes celou stránku, pro pokračování vyžaduje reakci" />
            <Text name="window" title="Alternativní text v liště" langDepend="firstValue" textInterpretation="html" size="2" />
            <Text name="modal" title="Alternativní text v okně" langDepend="firstValue" textInterpretation="html" size="2" />
        </Type>
        <Type name="CookieItem" title="Měřící kódy">
            <SimpleText name="name" title="Název" langDepend="firstValue" />
            <Text name="code" title="Kód" langDepend="firstValue" textInterpretation="html" size="5" />
            <Bool name="analytics" title="Typ cookie - vybrat pouze jeden" desc="Analytický (GA, GTM, Smartlook, ...)" />
            <Bool name="security" title=" " desc="Bezpečnostní" allowEditFor="nobody" />
            <Bool name="ads" title=" " desc="Reklamní (Google Ads, Sklik, retargeting, ..." />
        </Type>
        
        <!-- Navigation -->
        <Type name="NavigationItem" title="Položka menu">
            <SimpleText name="navItem" title="Název položky v menu" langDepend="firstValue" />
            <SimpleText name="navLink" title="Odkaz" langDepend="firstValue" allowEditFor="sysAdmin" />
        </Type>
        
        <!-- Footer -->
        <Type name="Footer" title="Zápatí">
            <SimpleText name="title" title="Nadpis" langDepend="firstValue" />
        </Type>

        <!-- JS <head> -->
        <Type name="HeadCode" desc="kód, který se vkládá na začátek elementu &amp;lt;head&amp;gt;">
            <Text name="code" textInterpretation="html" />
        </Type>
        
        <!-- JS header -->
        <Type name="HeaderCode" desc="kód, který se vkládá za počáteční značku body">
            <Text name="code" textInterpretation="html" />
        </Type>

        <!-- JS footer -->
        <Type name="FooterCode" desc="kód, který se vkládá před koncovou značku body">
            <Text name="code" textInterpretation="html" />
        </Type>

        <!-- settings -->
        <Type name="Settings">
            <Bool name="secured" title="Zabezpečit obsah" desc="Pozor!! Pokud je zaškrtnuto, veškerý obsah webu je vidět pouze přihlášeným uživatelům." />
            <Bool name="production" title="Produkční prostředí" desc="(zaškrtnout na produkci)" />
            <Bool name="naseweby" title="Naše weby" desc="(zaškrtnout na našich webech)" />
            <Bool name="localhost" title="Localhost" desc="(zaškrtnout na localhostu)" />
        </Type>
    </Types>
	  
</JellyPotDef>