<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>
    <customErrors mode="Off" /> 
    <httpRuntime requestValidationMode="2.0" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="je" namespace="Bet.JellyPot.UI" assembly="JellyPot" />
        <add tagPrefix="f"  namespace="Bet.JellyPot.UI.EmailForms" assembly="JellyPot" />
			</controls>
		</pages>
 </system.web>

	<system.webServer>
    <httpErrors existingResponse="PassThrough" />
	  <modules>
			<add name="JellyPotModule" type="Bet.JellyPot.CmsModule, JellyPot" preCondition="managedHandler" />
			<add name="rewriteModule" type="AnFas.Redir.UrlRewriter" />
	  </modules>
	</system.webServer>

  <!-- povoleni uploadu vetsich souboru v admin rozhrani -->
	<location path="admin">
		<system.web>
			<!-- 100MB, 15 min -->
			<httpRuntime maxRequestLength="100000" executionTimeout="900" />
		</system.web>
	</location>

</configuration>