/*---------------------------------------------------
               		Typography
---------------------------------------------------*/
//  - All font sizes are in REM, 1 REM = 16px

$typo-title: (
  small: (
    '1': ('font-size': 3.2, 'line-height': 1.2, 'font-weight': 600,),
  ),
  medium: (
    '1': ('font-size': 4, 'line-height': 1.2),
  ),
);

@include create-typo("title", $typo-title);

// == MY STYLE ==
.main-title {
  font-family: $font-s;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 3rem;
}

.perex {
  font-size: 2.4rem;
  font-weight: 400;
}

.caption {
  color: $darkGrey;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.text {
  color: $text;
  font-size: 1.6rem;
  font-weight: 400;
  @include breakpoint ("medium") {
    font-size: 1.8rem;
  }
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &--md {
    p {
      font-size: 2rem;
      margin-bottom: 4rem;
    }
  }
  p {
    color: $text;
    font-size: 1.8rem;
    font-weight: 400;
    @include breakpoint ("medium") {
      font-size: 1.8rem;
    }
  }
  h2 {
    font-family: $font-s;
    font-size: 3.8rem;
    line-height: 1.2;
    font-weight: 700;
    color: $text;
    @include breakpoint ("medium") {
      font-size: 3.8rem;
    }
  }
  h3 {
    font-family: $font-s;
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 700;
    color: $text;
    @include breakpoint ("medium") {
      font-size: 2.4rem;
    }
  }
  h4 {
    font-family: $font-s;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 700;
    color: $black
  }
  p + p {
    margin-top: 1rem;
  }
  h2 + p {
    margin-top: 2rem;
  }
  h3 + p {
    margin-top: 1rem;
  }
  h4 + p {
    margin-top: 1rem;
  }
  p + h2 {
    margin-top: 2rem;
  }
  p + h3 {
    margin-top: 2rem;
  }
  p + h4 {
    margin-top: 2rem;
  }
  ul {
    //padding: 0 2rem 0 2.5rem;
    //list-style-type: disc;
    //text-align: left;
    //font-size: 1.6rem;
    margin-bottom: 4rem;
  }
  li {
    font-size: 1.8rem;
    font-weight: 400;
    color: $black;
    line-height: 1.7;
  }
  &--perex {
    color: $text;
    font-weight: 400;
    font-size: 1.7rem;
    @include breakpoint ("large") {
      font-size: 2.4rem;
    }
    p {
      color: $text;
      font-weight: 400;
      font-size: 1.7rem;
      @include breakpoint ("large") {
        font-size: 2.4rem;
      }
    }
  }
  &--sm {
    font-size: 1.6rem;
    p {
      font-size: 1.6rem;
    }
  }
}