/*---------------------------------------------------
               		Typography
---------------------------------------------------*/
//  - All font sizes are in REM, 1 REM = 16px

$typo-title: (
  small: (
    '1': ('font-size': 3.2, 'line-height': 1.2, 'font-weight': 600,),
  ),
  medium: (
    '1': ('font-size': 4, 'line-height': 1.2),
  ),
);

@include create-typo("title", $typo-title);

.title-1 {
  color: red;
}

.text {
  color: $text;
  font-size: 1.6rem;
  font-weight: 400;
  @include breakpoint ("medium") {
    font-size: 1.8rem;
  }
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    color: $text;
    font-size: 1.6rem;
    @include breakpoint ("medium") {
      font-size: 1.8rem;
    }
  }
  h2 {
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: 600;
    color: $text;
    margin-bottom: .5rem;
    @include breakpoint ("medium") {
      font-size: 4rem;
    }
  }
  h3 {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 600;
    color: $text;
    margin-bottom: .5rem;
    @include breakpoint ("medium") {
      font-size: 3.2rem;
    }
  }
  h4 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
    color: #333;
    margin-bottom: .5rem;
  }
  p + p {
    margin-top: 1rem;
  }
  h2 + p {
    margin-top: 1rem;
  }
  h3 + p {
    margin-top: 1rem;
  }
  h4 + p {
    margin-top: 1rem;
  }
  p + h2 {
    margin-top: 2rem;
  }
  p + h3 {
    margin-top: 2rem;
  }
  p + h4 {
    margin-top: 2rem;
  }
  ul {
    padding: 0 2rem 0 2.5rem;
    list-style-type: disc;
    text-align: left;
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  li {
    position: relative;
    margin-bottom: 1.5rem;
  }
  &--perex {
    color: $text;
    font-weight: 400;
    font-size: 1.7rem;
    @include breakpoint ("large") {
      font-size: 2.4rem;
    }
    p {
      color: $text;
      font-weight: 400;
      font-size: 1.7rem;
      @include breakpoint ("large") {
        font-size: 2.4rem;
      }
    }
  }
  &--sm {
    font-size: 1.6rem;
    p {
      font-size: 1.6rem;
    }
  }
}