<?xml version="1.0" encoding="utf-8" ?> 

<Texts lang="cs" xmlns="urn:Bet:ns:JellyPot:Texts">
    <Cookies>
        <title>Informace, které shromažďujeme</title>
        <description>Kliknutím na tlačítko PŘIJMOUT VŠE povolíte používání cookies, které usnadňují navigaci na našem webu, pomáhají nám analyzovat fungování a používání našeho webu a umožňují nám zobrazovat relevantní marketingový obsah. Nastavení cookies můžete spravovat níže. Kliknutím na možnost POTVRDIT VÝBĚR vyjádříte souhlas s aktuálními nastaveními.</description>
        <privacyPolicy>zásady ochrany osobních údajů</privacyPolicy>
        <learnMore>Chcete-li se dozvědět více, přečtěte si naše</learnMore>
        <analytics>Měřicí a analytické</analytics>
        <analyticsDesc>dávají nám informaci o tom, jak web používáte, a pomáhají nám ho zlepšit (např. Google Analytics, Smartlook, Hotjar...)</analyticsDesc>
        <ads>Marketingové</ads>
        <adsDesc>slouží k tomu, aby se vám zobrazovala relevantní reklama (např. Google Ads, Facebook Pixel, Sklik ad.)</adsDesc>
        <required>Nezbytné technické cookies</required>
        <requiredDesc>zajišťují správný chod webu (fungování formulářů, bezpečnost apod.), neukládají osobní informace</requiredDesc>
        <mandatory>Povinné</mandatory>

        <settings>Nastavení cookies</settings>
        <change>Od vaší poslední návštěvy došlo ke změnám, aktualizujte prosím svůj souhlas.</change>
        <learnMoreSettings>Upravit nastavení</learnMoreSettings>
        <descriptionSettings>Na našem webu používáme soubory cookies, abychom zajistili jejich správné fungování a co nejlepší uživatelskou zkušenost. Kliknutím na tlačítko „V pořádku“ dáváte svůj souhlas s použitím cookies pro účely</descriptionSettings>

        <accept>V pořádku</accept>
        <acceptTitle>Přijměte soubory cookie</acceptTitle>
        <acceptAll>Přijmout všechny</acceptAll>
        <save>Potvrdit výběr</save>
        <saveData>Uložit moji konfiguraci na shromážďované informace</saveData>
        <decline>Povolit jen nezbytné cookies</decline>
        <declineAll>Odmítnout všechny aplikace</declineAll>
        <close>Zavřít</close>
        <enabled>Povoleno</enabled>
        <disabled>Zakázáno</disabled>

        <optOut>opt-out</optOut>
        <optOutMore>Tato aplikace se načte ve výchozím nastavení (ale můžete se odhlásit)</optOutMore>
        <requiredSimple>vyžadováno</requiredSimple>
        <requiredMore>Tato aplikace je vždy vyžadována</requiredMore>
        <purposes>Účely</purposes>
        <purpose>Účel</purpose>
        <newWindow>nové okno</newWindow>

        <detailed>Nastavení cookies</detailed>
        <revokeConsent>Odvolat souhlas</revokeConsent>

    </Cookies>
    <Errors>
        <error>Error 404</error>
        <ooops>Ooops!</ooops>
        <notFound>Nemůžeme najít stránku, kterou hledáte.</notFound>
        <try>Zkuste jít třeba na</try>
        <homepage>Homepage</homepage>
    </Errors>
</Texts>
