<?xml version="1.0" encoding="utf-8" ?> 

<Texts lang="en" xmlns="urn:Bet:ns:JellyPot:Texts">
    <Cookies>
        <title>Information we collect</title>
        <description>By clicking on the ACCEPT ALL button, you will enable the use of cookies, which facilitate navigation on our website, help us analyze the operation and use of our website and allow us to display relevant marketing content. You can manage your cookie settings below. Click CONFIRM SELECTION to agree to the current settings. Read our privacy policy to learn more.</description>
        <privacyPolicy>privacy policy</privacyPolicy>
        <learnMore>To learn more, read our</learnMore>
        <analytics>Analytics</analytics>
        <analyticsDesc>tells us how you use the site and helps us improve it (Google Analytics, Smartlook, Hotjar, ...)</analyticsDesc>
        <ads>Marketing</ads>
        <adsDesc>to show you relevant ads (e.g. Google Ads, Facebook Pixel, etc.)</adsDesc>
        <required>Required technical cookies</required>
        <requiredDesc>ensures the proper functioning of the website (forms, security, etc.), does not store personal information</requiredDesc>
        <mandatory>Required</mandatory>

        <settings>Cookies settings</settings>
        <change>Changes have occurred since your last visit, please update your consent.</change>
        <learnMoreSettings>Edit settings</learnMoreSettings>
        <descriptionSettings>We use cookies on our website to ensure their proper functioning and the best possible user experience. By clicking on the Accept button, you agree to the use of cookies for the purposes of</descriptionSettings>

        <accept>Accept</accept>
        <acceptTitle>Accept cookies</acceptTitle>
        <acceptAll>Accept all</acceptAll>
        <save>Confirm selection</save>
        <saveData>Save my configuration</saveData>
        <decline>Allow only required cookies</decline>
        <declineAll>Reject all applications</declineAll>
        <close>Close</close>
        <enabled>Enabled</enabled>
        <disabled>Disabled</disabled>

        <optOut>opt-out</optOut>
        <optOutMore>This app will load by default (you can sign out)</optOutMore>
        <requiredSimple>required</requiredSimple>
        <requiredMore>This application is always required</requiredMore>
        <purposes>Purposes</purposes>
        <purpose>Purpose</purpose>
        <newWindow>new window</newWindow>

        <detailed>Cookies settings</detailed>
        <revokeConsent>Revoke consent</revokeConsent>

    </Cookies>
    <Errors>
        <error>Error 404</error>
        <ooops>Ooops!</ooops>
        <notFound>We can't find the page you're looking for.</notFound>
        <try>Try to go to the</try>
        <homepage>Homepage</homepage>
    </Errors>
</Texts>
