<?xml version="1.0" encoding="utf-8" ?>
<!-- jazykový soubor pro admin rozhraní - čeština -->

<!DOCTYPE Texts [
  <!ENTITY nbsp " ">
  <!ENTITY ndash "-">
  <!ENTITY hellip "…">
]>

<Texts lang="cz" xmlns="urn:Bet:ns:CmsTxt">

  <!-- Prihlasovaci stranka -->
  <LoginPage>
    <Project>projekt</Project>
    <Name>Uživatel</Name>
    <Password>Heslo</Password>
    <Login>Přihlásit se</Login>
    
    <BadPwd>Přihlašovací jméno nebo heslo jsou chybné.</BadPwd>
    <NotFound>Požadovaný objekt nebyl nalezen.</NotFound>
    <NoRights>Pro zamýšlenou akci nemáte dostatečná práva.</NoRights>
    <LoginExpired>Vaše přihlášení patrně vypršelo, přihlašte se znovu prosím.</LoginExpired>
    <LoginTimeout>Opakované přihlášení je omezeno. Počkejte prosím, až uplyne daný časový interval.</LoginTimeout>
  </LoginPage>

  <!-- Hlavni stranka -->
  <Main>
    <Cancel>Storno</Cancel>
    <Back>Zpět</Back>
    <BackCancel>Zpět / Storno</BackCancel>
    <Add>Přidat</Add>
    <Save>Uložit</Save>
    <Done>Hotovo!</Done>
    <SaveGone>Uložit a odejít</SaveGone>
    <SaveStay>Uložit</SaveStay>
    <Delete>Vymazat</Delete>
    <Import>Importovat</Import>
    <Upload>Nahrát</Upload>

    <Admin>Administrace</Admin>
    <Language>Editovat jazyk</Language>
    <SelectEdit>Vyberte část k editaci</SelectEdit>
    <UserManagement>Správa uživatelů</UserManagement>
    <PwdChange>Změnit heslo</PwdChange>
    <About>About &amp; errors</About>
    <EmailTest>Emailové formuláře</EmailTest>
    <AdminTools>Admin tools</AdminTools>
    <MediaAdminTools>Media admin tools</MediaAdminTools>
    <ExportImport>Export a import obsahu</ExportImport>
    <Translation>Překlad jazykových verzí</Translation>
    <Licences>Licence</Licences>
    <Logout>Odhlásit se</Logout>
    <AdminDeny htmlContent="true">Administrace je dočasně nedostupná,<br />probíhá údržba.</AdminDeny>

    <ListPickerAdd>přidat</ListPickerAdd>
    <ListPickerRemove>odebrat</ListPickerRemove>

    <Welcome>Vítejte v administraci</Welcome>
    <WelcomeStart>Začněte s editací obsahu</WelcomeStart>
  </Main>

  <EditButtons>
    <Add>Přidat</Add>
    <AddTip>Přidat (Ctrl+S)</AddTip>
    <SaveStay>Uložit</SaveStay>
    <SaveStayTip>Uložit a pokračovat v editaci (Ctrl+S)</SaveStayTip>
    <Save>&hellip;a odejít</Save>
    <SaveTip>Uložit a odejít</SaveTip>
    <SaveAdd>&hellip;a nový</SaveAdd>
    <SaveAddTip>Uložit a přidat nový záznam</SaveAddTip>
    <SavePrev>&hellip;a před</SavePrev>
    <SavePrevTip>Uložit a přejít na předcházející záznam</SavePrevTip>
    <SaveNext>&hellip;a další</SaveNext>
    <SaveNextTip>Uložit a přejít na následující záznam</SaveNextTip>

    <Cancel htmlContent="true">Storno</Cancel>
    <Delete>Vymazat</Delete>
    <DeleteTip>Vymazat aktuální záznam</DeleteTip>
  </EditButtons>

  <!-- Editace promennych a kolekci -->
  <Variables>
    <EmptyItem>řádek</EmptyItem>
    <EmptyCombo>položka kolekce</EmptyCombo>
    <NoItems>zatím žádné položky</NoItems>
    <NoValue>hodnota nebyla zadána</NoValue>
    <AddItem>přidat nový záznam</AddItem>
    <BulkAddItem>přidat více záznamů</BulkAddItem>
    <BulkDeleteItem>smazat označené záznamy</BulkDeleteItem>
    <ChangeLevel>změnit úroveň</ChangeLevel>
    <ChangeLevelLeft>vlevo</ChangeLevelLeft>
    <ChangeLevelRight>vpravo</ChangeLevelRight>
    <ChangeLevelHelp>Pořadí jednotlivých řádků lze měnit přetahováním myší. Editace či vymazání řádku po dvojitém kliknutí.</ChangeLevelHelp>
    <DeleteConfirm>Opravdu vymazat?</DeleteConfirm>
    <NoImg>bez obrázku</NoImg>
    <CollectionNotSaved>Položky bude možné přidávat až po uložení.</CollectionNotSaved>
    <Filter>filtrovat</Filter>
		<SelectType>Vyberte typ přidávaného záznamu:</SelectType>
		<FilterNoItems>Zadání filtru nevyhovují žádné položky.</FilterNoItems>

		<!-- tlacitka v radku kolekce -->
    <BtRowEdit js="btRowEdit">edit</BtRowEdit>

    <Tree>
      <NoSelection js="treeNoSelection">Žádný řádek není označen.</NoSelection>
      <NoLeft js="treeNoLeft">Řádek nelze posunout doleva.</NoLeft>
      <NoRight js="treeNoRight">Řádek nelze posunout doprava.</NoRight>
    </Tree>
  </Variables>

  <!-- Validace hodnot -->
  <Validations>
    <Empty>pole musí být vyplněno</Empty>
    <Int>pole smí obsahovat pouze číslo</Int>
    <Decimal>pole smí obsahovat pouze desetinné číslo</Decimal>
    <Date>pole smí obsahovat pouze datum ve formátu den/měsíc/rok</Date>
    <DateTime>pole smí obsahovat pouze datum ve formátu den/měsíc/rok a čas ve formátu h:mm</DateTime>
    <EmptyReference>hodnota musí být zvolena</EmptyReference>
    <EmptyReferenceCol>vyberte prosím alespoň jednu hodnotu</EmptyReferenceCol>
    <Img>obrázek musí být připojen</Img>
    <ImgCol>musí být přípojen alespoň jeden obrázek</ImgCol>
    <File>soubor musí být připojen</File>
    <FileCol>musí být připojen alespoň jeden soubor</FileCol>
  </Validations>

  <MessageBox>
    <Saved>Hodnoty byly uloženy.</Saved>
    <ValidationErr>Formulář obsahuje chyby.</ValidationErr>
  </MessageBox>

  <!-- Obrazky -->
  <Imgs>
    <Title>Obrázek</Title>
    <Body>Editace obrázku</Body>
    <BodyAdd>Přidání obrázků</BodyAdd>

    <Video>video</Video>
    <Sound>zvuk</Sound>
    <NoImg>žádný obrázek není připojen</NoImg>
    <Add>přidat nový obrázek</Add>
    <Add2>připojit</Add2>
    <BulkAdd>přidat obrázky</BulkAdd>
    <Link>připojit</Link>
    <Edit>editovat</Edit>
    <Browse>procházet</Browse>
    <Delete>smazat obrázek</Delete>
    <Delete2>smazat</Delete2>
    <BulkDelete>smazat označené obrázky</BulkDelete>
    <BulkDelete2>smazat vybrané položky</BulkDelete2>
    <DeleteAll>smazat vše</DeleteAll>
    <EditDelete>změnit nebo smazat obrázek</EditDelete>
    <Download>stáhnout</Download>
    <SelectOtherImg>vybrat jiný obrázek</SelectOtherImg>
    <SelectImg>vybrat obrázek</SelectImg>
    <AddFiles>Vyberte jeden nebo více souborů k nahrání na server</AddFiles>

    <OriginalName>původní název</OriginalName>
    <MaxSize>největší uložená velikost</MaxSize>
    <Alt>Popis</Alt>
    <AltHelp>Alt text</AltHelp>
    <Url>URL</Url>
    <UrlHelp>pro odkaz na jiný web včetně http://</UrlHelp>
    <Size>Rozměry obrázku</Size>
    <SizeHelp>šířka x výška</SizeHelp>
    <Width>šířka</Width>
    <Height>výška</Height>
    <NameChanged>(název souboru byl upraven)</NameChanged>

    <DeleteConfirm>Opravdu smazat připojený obrázek?</DeleteConfirm>
    <DeleteBulkConfirm>Opravdu smazat označené obrázky?</DeleteBulkConfirm>
    <NoSelected>Musíte nejprve označit obrázky k vymazání.</NoSelected>

    <TrasferingData>Přenáším data, přeneseno: </TrasferingData>
    <ServerSaving>Ukládám a vytvářím náhledy ...</ServerSaving>
    <ServerSimpleSaving>Ukládám a zapisuji ...</ServerSimpleSaving>
    <TryAgain>Zobrazené obrázky se nepodařilo uložit na server. Zkuste je prosím odeslat znovu.</TryAgain>
    <FileTooLong>Vybraný soubor je příliš veliký.</FileTooLong>

    <!-- tlacitka v radku kolekce -->
    <BtEdit js="imgBtEdit">edit</BtEdit>
    <BtRowEdit js="imgColBtEdit">edit</BtRowEdit>

    <SimpleImg>
      <BadType>Soubor není podporovaného typu (*.jpg, *.png, *.gif, *.svg)</BadType>
      <BadType2 htmlContent="true">
        Toto není správný typ souboru.<br /> Sem patří jen obrázek typu JPG, PNG, GIF nebo SVG.
      </BadType2>
      <Wait>Čekejte prosím, probíhá nahrávání obrázku.</Wait>
      <NoVideo>Nelze připojit video, pokud v souboru addins.config není definován přehrávač.</NoVideo>
      <NoSound>Nelze připojit zvuk, pokud v souboru addins.config není definován přehrávač.</NoSound>
    </SimpleImg>

    <Img>
      <BadType>Obrázek musí být typu JPG</BadType>
      <BadType2 htmlContent="true">
        Toto není správný typ souboru.<br /> Sem patří jen obrázek typu JPG.
      </BadType2>
      <Wait>Čekejte prosím, probíhá nahrávání obrázku...</Wait>
    </Img>

    <Missing>Chybějící obrázek</Missing>
    <Missing2>Na disku chybí požadovaný obrázek {0}.</Missing2>

    <Bulk>
      <DragImgs>Přetáhněte obrázky sem</DragImgs>
      <Or>nebo</Or>
      <Browse>Procházet soubory</Browse>
      <DeleteSelected>Smazat označené</DeleteSelected>
      <DeleteAll>Smazat vše</DeleteAll>
      <ErrCreateThumb>chyba vytváření ikony</ErrCreateThumb>
      <StartingTransfer>Zahajuji přenos ...</StartingTransfer>
      <DeleteConfirm>Opravdu vymazat?</DeleteConfirm>
    </Bulk>

  </Imgs>

  <!-- Soubory -->
  <Files>
    <Title>Soubor</Title>
    <Body>Editace souboru</Body>

    <File>soubor</File>
    <NoFile>žádný soubor není připojen</NoFile>
    <Add>přidat nový soubor</Add>
    <Add2>připojit</Add2>
    <Link>připojit</Link>
    <Edit>editovat</Edit>
    <Browse>procházet</Browse>
    <Delete>smazat soubor</Delete>
    <Delete2>smazat</Delete2>
    <EditDelete>změnit nebo odstranit soubor</EditDelete>
    <Download>stáhnout</Download>
    <SelectFile>vybrat soubor</SelectFile>
    <SelectOtherFile>vybrat jiný soubor</SelectOtherFile>

    <ServerName>jméno na serveru</ServerName>
    <Alt>název souboru (alt text)</Alt>
    <NameChanged>(název souboru byl upraven)</NameChanged>

    <DeleteConfirm>Opravdu vymazat připojený soubor?</DeleteConfirm>

    <Wait>Čekejte prosím, probíhá nahrávání souboru.</Wait>

    <TrasferingData>Přenáším data, přeneseno: </TrasferingData>
    <ServerSaving>Ukládám a zapisuji ...</ServerSaving>
    <TryAgain>Soubor se nepodařilo uložit na server. Zkuste jej prosím odeslat znovu.</TryAgain>
    <FileTooLong>Vybraný soubor je příliš veliký.</FileTooLong>

    <!-- tlacitka v radku kolekce -->
    <BtRowEdit js="fileBtRowEdit">edit</BtRowEdit>
    <BtRowDownload>stáhnout</BtRowDownload>
  </Files>

  <!-- Sprava uzivatelu -->
  <UM>
    <Title>Správa uživatelů</Title>
    <UserTitle>Uživatel</UserTitle>

    <AddAdmin>přidat systémového admina</AddAdmin>
    <AddUser>přidat uživatele</AddUser>
    <Details>základní údaje</Details>
    <PwdChange>změnit heslo</PwdChange>
    <RemoveAdmin>odstranit správu uživatelů</RemoveAdmin>
    <RemoveAdminConfirm>
      Opravdu odstranit všechny uživatele?

      Po odstranění uživatelů bude administrační část
      přístupna volně bez přihlašování.
    </RemoveAdminConfirm>
    <NoAdminA>Správa uživatelů není zavedena. Správu uživatelů může zavést přidáním systémového administrátora. </NoAdminA>
    <NoAdminB>Po zavedení správy uživatelů se musíte k administrační části přihlašovat jménem a heslem.</NoAdminB>

    <Err>
      <BadOldPwd>Původní heslo není správné.</BadOldPwd>
      <ShortPwd>Heslo musí být alespoň tři znaky dlouhé.</ShortPwd>
      <NoMatchPwd>Heslo a jeho ověření se neshoduje.</NoMatchPwd>
      <EmptyLogin>Přihlašovací jméno nesmí být prázné.</EmptyLogin>
      <NoEmailLogin>Přihlašovací jméno musí mít tvar emailové adresy.</NoEmailLogin>
      <ShortLogin>Heslo musí být alespoň tři znaky dlouhé.</ShortLogin>
      <LongLogin>Přihlašovací jméno může mít nejvýše 100 znaků.</LongLogin>
      <DuplicatedLogin>Zvolené přihlašovací jméno již používá jiný uživatel. Zvolte prosím jiné jméno.</DuplicatedLogin>
    </Err>

    <PwdChangeTitle>Změna hesla</PwdChangeTitle>
    <User>Uživatel</User>
    <Groups>Skupiny</Groups>
    <OldPwd>Původní  heslo</OldPwd>
    <Pwd1>Heslo</Pwd1>
    <Pwd2>Heslo (zopakovat)</Pwd2>
    <PwdOk>Vaše heslo bylo změněno.</PwdOk>

    <RemoveUserConfirm>Opravdu chcete tohoto uživatele vymazat?</RemoveUserConfirm>
    <UserOptions>
      <Title>Uživatel může</Title>
      <AllowAccess>přihlásit se</AllowAccess>
      <AllowEdit>editovat obsah</AllowEdit>
      <AllowAdmin>spravovat uživatele</AllowAdmin>
      <AllowSysAdmin>spravovat adminy</AllowSysAdmin>
      <Groups>Uživatel je členem skupin</Groups>
    </UserOptions>
  </UM>

  <!-- Registrace -->
  <Registrations>
    <Title>Poskytnuté licence pro systém JellyPot</Title>

    <Name>doménové jméno</Name>
    <ValidFrom>platnost od</ValidFrom>
    <ValidTo>platnost do</ValidTo>
    <NoLimit>neomezeně</NoLimit>
    <Valid>platná</Valid>
    <Unvalid>neplatná</Unvalid>

    <BadKey1>Registrační klíč pro doménu {0} je neplatný.</BadKey1>
    <BadKey2>Neplatný registrační kód.</BadKey2>
    <BadKey3>Pro aktuální požadavek nebyla nalezena platná registrace.</BadKey3>
  </Registrations>

  <!-- test chyb a mailu -->
  <ErrTest>
    <Title>About &amp; Errors</Title>

    <Email>
      <Title>Odeslat testovací chybový mail</Title>
      <Dest>cílová adresa</Dest>
      <NoDest>není zadána</NoDest>
      <Sent>odeslat</Sent>

      <ServerTable>
        <ForAtt>typ chyby</ForAtt>
        <Server>SMTP server</Server>
        <Recipient>příjemce</Recipient>
      </ServerTable>

      <NoLogMails>Konfigurace neobsahuje žádné logovací maily.</NoLogMails>
      <NoMail>Nebyl zvolen žádný logovací mail.</NoMail>
      <BadEmail>Emailová adresa příjemce není platná.</BadEmail>
      <!--    <NoServer>Není zadána adresa SMTP serveru pro odeslání zprávy.</NoServer>
		<NoTo>Není zadána e-mailová příjemce zprávy.</NoTo>
		<NoFrom>Není zadána e-mailová adresa odesílatele.</NoFrom> -->
      <SendOk>Testovací zpráva byla bez chyby odeslána.</SendOk>
      <SendErr>Při odesílání došlo k chybě. Níže jsou uvedeny podrobnosti o chybě.</SendErr>
      <MailSubject>Tst: pokusná chybová zpráva z admin rozhraní</MailSubject>
      <MailBody></MailBody>
    </Email>

    <Err>
      <Title>Simulace chyby</Title>
      <Desc>
        Stisknutím tlačítka vyvoláte v aplikaci vznik chyby daného typu.
        Dojde k jejímu zapsání do logu aplikace a případnému zaslání chybové zprávy.
        Tato funkce slouží k testování konfigurace zasílání chybových hlášení.
      </Desc>
      
			<Invoke>Simulovat chybu typu:</Invoke>
      <GoErrs>errs</GoErrs>
      <GoWrongTypes>wrongTypes</GoWrongTypes>
      <GoUnvalidVars>unvalidVars</GoUnvalidVars>
      <GoCrawlers>crawlers</GoCrawlers>
      <WasInvokedWrongTypes>Simulovaná chyba typu wrongTypes byla vyvolána.</WasInvokedWrongTypes>
      <WasInvokedUnvalidVars>Simulovaná chyba typu unvalidVars byla vyvolána.</WasInvokedUnvalidVars>
      <WasInvokedCrawlers>Simulovaná chyba typu crawlers byla vyvolána.</WasInvokedCrawlers>
			<ErrDetailWrongTypes>simulovaná chyba typu wrongTypes</ErrDetailWrongTypes>
			<ErrDetailUnvalidVars>simulovaná chyba typu unvalidVars</ErrDetailUnvalidVars>
			<ErrDetailCrawlers>simulovaná chyba typu crawlers</ErrDetailCrawlers>
    </Err>

    <Version>
      <Title>Údaje o verzi aplikace</Title>
      <Net>verze .NET</Net>
    </Version>
  </ErrTest>

  <!-- Test emailových formulářů -->
  <EmailTest>
    <Title>Test mailových formulářů</Title>
    <Desc>Tato stránka slouží k ověření komunikace s mailovými (smtp) servery pro jednotlivé emailové formuláře.</Desc>
    <ServerTable>
      <Form>formulář</Form>
      <Server>smtp server</Server>
      <Sender>odesílatel</Sender>
      <Recipient>příjemce</Recipient>
      <Undefined>-- neurčena --</Undefined>
      <TestOnly>pouze test</TestOnly>
      <NoForms>Web neobsahuje žádné emailové formuláře.</NoForms>
    </ServerTable>
    <ReloadTable>Obnovit seznam formulářů</ReloadTable>
    <OwnMail>Použít jinou emailovou adresu příjemce</OwnMail>
    <Sent>Odeslat</Sent>

    <SendOk>Testovací zpráva byla bez chyby odeslána.</SendOk>
    <SendErr>Při odesílání došlo k chybě. Níže jsou uvedeny podrobnosti o chybě.</SendErr>
    <MailSubject>Tst: pokusná zpráva z admin rozhraní, formulář {0}</MailSubject>
    <MailBody></MailBody>
    <NoForm>Žádný formulář nebyl zvolen.</NoForm>
    <BadEmail>Emailová adresa příjemce není platná.</BadEmail>

    <Simulation>Simulované odeslání (viz nastavení serveru)</Simulation>
    <UnspecifiedError>Chybné zadání</UnspecifiedError>
    <NoSpamEmail>Pro otestování konfigurace spammeru musíte zadat vlastní cílovou adresu.</NoSpamEmail>
  </EmailTest>

  <!-- vychozi zprava emailoveho formulare -->
  <Emails>
    <Subject>Zpráva z mailového formuláře aplikace {0} ({1})</Subject>
    <Date>datum a čas odeslání: {0:d.M.yyyy, H:mm:ss}</Date>
    <IP>IP</IP>
    <XIP>xIP</XIP>
  </Emails>

  <!-- Admin tools -->
  <AdminTools>
    <Title>Admin Tools</Title>
    <Desc>Stránka shrnuje různé administrační nástroje a utility.</Desc>

    <TextFiles>
      <Title>Kontrola textových souborů</Title>
      <Desc htmlContent="true">
         Po stisknutí tlačítka se provede kontrola textových souborů. 
         Kontroluje se, zda všechny texty obsažené v výchozím textovém souboru <strong>{0}</strong> jsou obsaženy v i ostatních.
      </Desc>
      <NoLangs>Tento nástoj lze použít jen pokud jsou v site.config definovány jazyky.</NoLangs>
      <Check>zkontrolovat</Check>
      <CheckAdminFiles>zkontrolovat admin soubory</CheckAdminFiles>

      <!-- chybova hlaseni -->
      <CheckOk>Textové soubory jsou v pořádku.</CheckOk>
      <CheckAdminOk>Admin textové soubory jsou v pořádku.</CheckAdminOk>
      <MissingMandatoryText htmlContent="true">V textovém souboru <strong>{0}</strong> chybí povinný text <strong>{1}</strong>.</MissingMandatoryText>
      <MissingText htmlContent="true">V textovém souboru <strong>{0}</strong> chybí text <strong>{1}</strong>.</MissingText>
    </TextFiles>
    
    <Resave>
      <Title>Přeuložení všech proměnných</Title>
      <Desc>
        Po stisknutí tlačítka se provede nové uložení hodnot všech proměnných.
        Lze využít v situaci, kdy je potřeba znovu zapsat redundatní pole v databázi,
        po editaci souboru site.config a podobně.
      </Desc>
      <Resave>přeuložit</Resave>
    </Resave>

    <Cache>
      <Title>Vymazání serverové cache</Title>
      <Desc>
        Vymaže na serveru dočasně uložená data na úrovni aplikace.
      </Desc>
      <Go>Vymazat cache</Go>
    </Cache>
  </AdminTools>

  <!-- MediaAdmin tools -->
  <MediaAdminTools>
    <Title>Media Admin Tools</Title>
    <Desc>Stránka shrnuje různé administrační nástroje pro správu připojených obrázků a souborů.</Desc>

    <Check>
      <Title>Kontrola a přeuložení obrázků a souborů</Title>
      <Desc>
        Po stisknutí tlačítka se provede kontrola připojených obrázků a souborů, včetně kontroly existence těchto souborů na disku.
        Některé typy chyb dokáže JellyPot sám opravit.
      </Desc>
      <Check>zkontrolovat</Check>

      <ResultTitle>Kontrola obrázků a souborů</ResultTitle>
      <ResultOk>Kontrola obrázků a souborů proběhla bez chyb.</ResultOk>
      <ResultErr>Při kontrole obrázků a souborů byly zjištěny tyto chyby: (počet chyb: {0})</ResultErr>
    </Check>

    <Repair>
      <Repair>opravit</Repair>

      <ResultTitle>Oprava obrázků a souborů</ResultTitle>
      <ResultOk>Všechny chyby byly opraveny.</ResultOk>
      <ResultErr>Některé chyby není možné opravit.</ResultErr>
    </Repair>

    <Delete>
      <Title>Smazání obrázků a souborů</Title>
      <DescMove>
        Po stisknutí tlačítka budou všechny obrázky a soubory, které již nejsou používány v databázi, přesunuty do příslušných trash složek. Z těchto složek je možné data smazat, aniž by došlo k porušení webu.
      </DescMove>
      <DescDelete>
        Po stisknutí tlačítka budou všechny obrázky a soubory, které již nejsou používány v databázi, odstraněny z disku.
      </DescDelete>
      <Delete>smazat</Delete>

      <NoFiles>Nejsou žádné soubory ke smazání.</NoFiles>
      <MoveOk>Všechny nepotřebné soubory byly úspěšně přesunuty do koše.</MoveOk>
      <DeleteOk>Všechny nepotřebné soubory byly úspěšně smazány.</DeleteOk>
      <MoveErr>Při přesunu souborů do koše došlo k chybám.</MoveErr>
      <DeleteErr>Při mazání souborů z disku došlo k chybám.</DeleteErr>
      <FilesMovedCount>počet přesunutých souborů: {0}</FilesMovedCount>
      <FilesDeletedCount>počet smazaných souborů: {0}</FilesDeletedCount>
    </Delete>
  </MediaAdminTools>

  <!-- Export a import -->
  <Exi>
    <Title>Export a import obsahu webu</Title>
    <Desc></Desc>

    <Export>
      <Title>Export</Title>
      <Desc htmlContent="true">
        <p>
          Obsahem výsledného XML souboru jsou pole všech proměnných nebo kolekcí. 
          Ve výsledném souboru nejsou obsaženy uploadované soubory či obrázky, 
          ty je možno přenést prostým kopírovaním. 
          Potlačit export některých kolekcí nebo proměnných lze nastavením atributu <span class="code">exiOptions="noExport"</span>.
        </p>
      </Desc>
			<ExportExplicit htmlContent="true">
				<p class="resultWarn">Je zapnutý režim exportu explicitně označených položek.</p>
			</ExportExplicit>
      <Notes htmlContent="true">
        <p class="note">Zatím není zprovozněn export/import souborů obsažených ve FileGallery.</p>
      </Notes>
      <Export11>Exportovat v. 1.1</Export11>
      <Export21>Exportovat v. 2.1</Export21>
      <Export22>Exportovat v. 2.2</Export22>
    </Export>

    <Import>
      <Title>Import</Title>
      <Desc htmlContent="true">
        <p>Obsah webu bude nahrazen obsahem XML souboru. Při importu jsou nahrazeny pouze ty proměnné a kolekce, které obsahuje importovaný soubor.</p>
      </Desc>
      <Notes htmlContent="true">
        <p class="note">Zatím není dořešena kontrola typů proměnných. Proměnné a kolekce se importují pouze na základě svého názvu.</p>
        <p class="note">Pozor na reference při případném importu částačných dat - viz textový soubor.</p>
      </Notes>

      <BrowseLabel>Vyberte XML soubor s obsahem webu:</BrowseLabel>
      <Browse>Procházet</Browse>
      <NoFile></NoFile>
      <Import>Importovat</Import>
      <TestOnly>pouze otestovat import</TestOnly>
      <Repeat>Zopakovat import</Repeat>

      <Results>
        <BadXml>Chyba parsovaní XML souboru.</BadXml>
        <BadVersion>Nelze importovat, nepodporovaná verze importního souboru.</BadVersion>
        <DoneOk>Hotovo, ok</DoneOk>
        <DoneWithErr>Hotovo s chybami</DoneWithErr>
        <NoFile>Nebyl připojen žádný soubor.</NoFile>
      </Results>
    </Import>
  </Exi>

	<!-- Export a import jazykovych verzi -->
	<LangExi>
		<Title>Export a import jazykových verzí</Title>
		<Desc></Desc>

		<Export>
			<Export>Exportovat</Export>
		</Export>
		<Import>
			<Import>Importovat</Import>
		</Import>
		
	</LangExi>		


		<Spammer>
    <Send>Odeslat</Send>
    <Set>Nastavit</Set>
  </Spammer>

  <!-- ostatni, ruzne -->
  <Misc>
    <ListPickerChange>zaměnit</ListPickerChange>
    <HelpRest>nápověda - strukturovaný text</HelpRest>
    <DoneOk>Hotovo, Ok</DoneOk>
    <DoneErr>Hotovo s chybami</DoneErr>
    <Yes>Ano</Yes>
    <yes>ano</yes>
    <No>Ne</No>
    <no>ne</no>
    <!-- popisy ikon v log vypisech -->
    <Log>
      <Err>chyba</Err>
      <Wrn>varování</Wrn>
      <Else>informace</Else>
    </Log>
  </Misc>

   <!-- vypnuty js a nepodporovane prohlizece -->
  <UnsupBrow>
    <Js>
      <Head>Zapněte prosím podporu JavaScriptu ve svém prohlížeči</Head>
      <Body htmlContent="true">
        <p>
          Administrace JellyPot využívá moderních technologií, které se bez podpory JavaScriptu neobejdou.
          Pro pokračování prosím zapněte podporu JavaScriptu ve vašem prohlížeči.
        </p>
      </Body>
    </Js>
    <Brow>
      <Head>Prosím aktualizujte svůj prohlížeč, abyste mohli používat administraci</Head>
      <BodyA htmlContent="true">
        <p>
          Administrace JellyPot využívá moderních technologií, které jsou podporovány jen novějšími prohlížeči.
          Staré prohlížeče jsou navíc pomalé a mohou být bezpečnostním rizikem. Aby administrace správně fungovala,
          budete potřebovat některý z moderních prohlížečů:
        </p>
      </BodyA>
      <BodyB htmlContent="true">
        <p class="note">
          Neslibujeme, že administrace poběží na beta nebo pre-release verzích zmíněných prohlížečů.
          Používejte stabilní a veřejné verze, které jsou běžně ke stažení. Na druhou stranu administrace může fungovat
          i v jiných prohlížečích, například v aktuální Opeře. U těch to však neslibujeme a považujeme je za nepodporované.
        </p>
      </BodyB>
      <Actual>Nejnovější</Actual>
    </Brow>
  </UnsupBrow>
  
</Texts>
