<?xml version="1.0" encoding="utf-8" ?>
<!-- jazykový soubor pro admin rozhraní - angličtina -->

<!DOCTYPE Texts [
    <!ENTITY nbsp " ">
    <!ENTITY ndash "-">
    <!ENTITY hellip "…">
]>

<Texts lang="en" xmlns="urn:Bet:ns:CmsTxt">

    <!-- Prihlasovaci stranka -->
    <LoginPage>
        <Project>Project</Project>
        <Name>Name</Name>
        <Password>Password</Password>
        <Login>LogIn</Login>

      <BadPwd>Username or password incorrect. Please try again.</BadPwd>
        <NotFound>Object not found.</NotFound>
        <NoRights>You do not have sufficient rights for the proposed action.</NoRights>
        <LoginExpired>Your login seems expired, please log in again.</LoginExpired>
        <LoginTimeout>Repetitive login is limited. Please wait until the time interval elapses.</LoginTimeout>
    </LoginPage>

    <!-- Hlavni stranka -->
    <Main>
        <Cancel>Cancel</Cancel>
        <Back>Back</Back>
        <BackCancel>Back / Cancel</BackCancel>
        <Add>Add</Add>
        <Save>Save</Save>
        <Done>Done!</Done>
        <SaveGone>Save and leave</SaveGone>
        <SaveStay>Save</SaveStay>
        <Delete>Delete</Delete>
        <Import>Import</Import>
        <Upload>Upload</Upload>

      <Admin>Administration</Admin>
        <Language>Now editing</Language>
        <SelectEdit>Select section to edit</SelectEdit>
        <UserManagement>Users</UserManagement>
        <PwdChange>Change password</PwdChange>
        <About>About &amp; errors</About>
        <EmailTest>Email forms</EmailTest>
        <AdminTools>Admin tools</AdminTools>
        <MediaAdminTools>Media tools</MediaAdminTools>
        <ExportImport>Export and import</ExportImport>
        <Translation>Translation</Translation>
        <Licences>Licences</Licences>
        <Logout>Sign out</Logout>
        <AdminDeny>Administration is temporary closed for maintenance.</AdminDeny>

        <ListPickerAdd>Add</ListPickerAdd>
        <ListPickerRemove>Remove</ListPickerRemove>

        <Welcome>Welcome at</Welcome>
        <WelcomeStart>Start with editing content</WelcomeStart>
    </Main>

    <EditButtons>
        <Add>Add</Add>
        <AddTip>Add (Ctrl+S)</AddTip>
        <SaveStay>Save</SaveStay>
        <SaveStayTip>Save and continue to edit (Ctrl+S)</SaveStayTip>
        <Save>&hellip;and leave</Save>
        <SaveTip>Save and leave</SaveTip>
        <SaveAdd>&hellip;and new</SaveAdd>
        <SaveAddTip>Save and add new item</SaveAddTip>
        <SavePrev>&hellip;and prev</SavePrev>
        <SavePrevTip>Save and go to previous item</SavePrevTip>
        <SaveNext>&hellip;and next</SaveNext>
        <SaveNextTip>Save and go to next item</SaveNextTip>
        <Cancel>Cancel</Cancel>
        <Delete>Delete</Delete>
        <DeleteTip>Delete current item</DeleteTip>
    </EditButtons>

    <!-- Editace promennych a kolekci -->
    <Variables>
        <EmptyItem>item</EmptyItem>
        <EmptyCombo>collection item</EmptyCombo>
        <NoItems>no items</NoItems>
        <NoValue>value has not been set</NoValue>
        <AddItem>add item</AddItem>
        <BulkAddItem>add more items</BulkAddItem>
        <BulkDeleteItem>delete selected items</BulkDeleteItem>
        <ChangeLevel>change level</ChangeLevel>
        <ChangeLevelLeft>left</ChangeLevelLeft>
        <ChangeLevelRight>right</ChangeLevelRight>
        <ChangeLevelHelp>Drag and drop rows to change the order. Use double click to edit or delete item.</ChangeLevelHelp>
        <DeleteConfirm>Really delete?</DeleteConfirm>
        <NoImg>no image</NoImg>
        <CollectionNotSaved>Items can be added after saving.</CollectionNotSaved>
        <Filter>filter</Filter>
				<SelectType>Select type of item to add:</SelectType>
				<FilterNoItems>No items match the filter.</FilterNoItems>

			<!-- tlacitka v radku kolekce -->
        <BtRowEdit>edit</BtRowEdit>

        <Tree>
            <NoSelection>No row is selected.</NoSelection>
            <NoLeft>The row can not be moved left.</NoLeft>
            <NoRight>The row can not be moved right.</NoRight>
        </Tree>
    </Variables>

    <!-- Validace hodnot -->
    <Validations>
        <Empty>Field is required</Empty>
        <Int>Number (integer) is required</Int>
        <Decimal>Number (decimal) is required</Decimal>
        <Date>Date in format dd/mm/yyyy is required</Date>
        <DateTime>Date and time in format dd/mm/yyyy, hh:mm are required</DateTime>
        <EmptyReference>Select something</EmptyReference>
        <EmptyReferenceCol>At least one selected item is required</EmptyReferenceCol>
        <Img>Image is required</Img>
        <ImgCol>At least one image is required</ImgCol>
        <File>File is required</File>
        <FileCol>At least one file is required</FileCol>
    </Validations>

    <MessageBox>
        <Saved>Everything has been saved.</Saved>
        <ValidationErr>Errors found, not saved.</ValidationErr>
    </MessageBox>

    <!-- Obrazky -->
    <Imgs>
        <Title>Image title</Title>
        <Body>Edit image</Body>
        <BodyAdd>Add images</BodyAdd>

        <Video>video</Video>
        <Sound>sound</Sound>
        <NoImg>no image</NoImg>
        <Add>add image</Add>
        <Add2>add</Add2>
        <BulkAdd>add images</BulkAdd>
        <Link>link image</Link>
        <Edit>edit</Edit>
        <Browse>Browse</Browse>
        <Delete>delete image</Delete>
        <Delete2>delete</Delete2>
        <BulkDelete>delete selected images</BulkDelete>
        <BulkDelete2>delete selected items</BulkDelete2>
        <DeleteAll>delete all</DeleteAll>
        <EditDelete>edit or delete image</EditDelete>
        <Download>download</Download>
        <SelectOtherImg>select different image</SelectOtherImg>
        <SelectImg>Browse</SelectImg>
        <AddFiles>Select one or more images for upload to the server.</AddFiles>

        <OriginalName>Original name</OriginalName>
        <MaxSize>Largest saved size</MaxSize>
        <Alt>Alt</Alt>
        <AltHelp>Text for ALT attribute</AltHelp>
        <Url>Link to URL</Url>
        <UrlHelp>Use "http://" for external URLs</UrlHelp>
        <Size>Image size</Size>
      <SizeHelp>width x height</SizeHelp>
      <Width>Width</Width>
        <Height>Height</Height>
        <NameChanged>(file name has been changed)</NameChanged>

        <DeleteConfirm>Delete image?</DeleteConfirm>
        <DeleteBulkConfirm>Delete selected images?</DeleteBulkConfirm>
        <NoSelected>Select images first.</NoSelected>

        <TrasferingData>Trasferring data, trasferred: </TrasferingData>
        <ServerSaving>Saving and creating previews ...</ServerSaving>
      <ServerSimpleSaving>Saving and writing ...</ServerSimpleSaving>
      <TryAgain>Displayed images are not saved on the server. Please try transfer them again.</TryAgain>
      <FileTooLong>Selected file is too large.</FileTooLong>

      <!-- tlacitka v radku kolekce -->
        <BtEdit js="imgBtEdit">Edit</BtEdit>
        <BtRowEdit js="imgColBtEdit">Edit</BtRowEdit>

        <SimpleImg>
            <BadType>Cannot upload file. File format is not supported. Use JPG, GIF, PNG, or SVG</BadType>
            <BadType2 htmlContent="true">
                This is not correct type of image.<br />There should be JPG, PNG, GIF or SVG.
            </BadType2>
            <Wait>Uploading, please wait...</Wait>
            <NoVideo>Unable to upload file. Video files are not supported.</NoVideo>
            <NoSound>Unable to upload file. Sound files are not supported.</NoSound>
        </SimpleImg>

        <Img>
            <BadType>Use jpg file format.</BadType>
            <BadType2 htmlContent="true">
                This is not correct type of image.<br />There should be JPG image.
            </BadType2>
            <Wait>Please wait, image is uploading.</Wait>
        </Img>

        <Missing>Image is missing</Missing>
        <Missing2>Image {0} is not on disk.</Missing2>

        <Bulk>
            <DragImgs>Drag images here</DragImgs>
            <Or>or</Or>
            <Browse>Browse files</Browse>
            <DeleteSelected>Delete selected</DeleteSelected>
            <DeleteAll>Delete all</DeleteAll>
            <ErrCreateThumb>Error creating icon</ErrCreateThumb>
            <StartingTransfer>Starting transfer ...</StartingTransfer>
            <DeleteConfirm>Delete?</DeleteConfirm>
        </Bulk>
    </Imgs>

    <!-- Soubory -->
    <Files>
        <Title>File</Title>
        <Body>Edit file</Body>

        <File>file</File>
        <NoFile>no file attached</NoFile>
        <Add>attach file</Add>
        <Add2>attach file</Add2>
        <Link>attach</Link>
        <Edit>edit</Edit>
        <Browse>browse</Browse>
        <Delete>delete file</Delete>
        <Delete2>delete</Delete2>
        <EditDelete>edit or delete file</EditDelete>
        <Download>download</Download>
        <SelectFile>Browse</SelectFile>
        <SelectOtherFile>select other file</SelectOtherFile>

        <ServerName>server name</ServerName>
        <Alt>file name (alt text)</Alt>
        <NameChanged>(file name has been adjusted)</NameChanged>

        <DeleteConfirm>Delete file?</DeleteConfirm>
        <Wait>Please wait, file is uploading.</Wait>

        <TrasferingData>Trasferring data, trasferred: </TrasferingData>
        <ServerSaving>Saving and writing ...</ServerSaving>
        <TryAgain>File transfer failed. Please try to send it again.</TryAgain>
        <FileTooLong>Selected file is too long.</FileTooLong>

        <!-- tlacitka v radku kolekce -->
        <BtRowEdit js="fileBtRowEdit">edit</BtRowEdit>
        <BtRowDownload>download</BtRowDownload>
    </Files>

    <!-- Sprava uzivatelu -->
    <UM>
        <Title>Users</Title>
        <UserTitle>User</UserTitle>

        <AddAdmin>Add system admin</AddAdmin>
        <AddUser>Add user</AddUser>
        <Details>Edit</Details>
        <PwdChange>Change password</PwdChange>
        <RemoveAdmin>delete user management</RemoveAdmin>
        <RemoveAdminConfirm>
            Delete all users?

            The administration section will be freely accessible
            without login after users removal.
        </RemoveAdminConfirm>
        <NoAdminA>No user management. Please, add system administrator.</NoAdminA>
        <NoAdminB>You will need to log in the administration with the username and password after the introduction of user management.</NoAdminB>

        <Err>
            <BadOldPwd>Old password do not match.</BadOldPwd>
            <ShortPwd>Choose a password that contains at least three characters.</ShortPwd>
            <NoMatchPwd>Passwords do not match.</NoMatchPwd>
            <EmptyLogin>Username field is required.</EmptyLogin>
            <NoEmailLogin>Username has to be in form of email address.</NoEmailLogin>
            <ShortLogin>Choose a password that contains at least three characters.</ShortLogin>
            <LongLogin>Choose a password that contains less than 100 characters.</LongLogin>
            <DuplicatedLogin>The username you choose is already taken.</DuplicatedLogin>
        </Err>

        <PwdChangeTitle>Change password</PwdChangeTitle>
        <User>User</User>
        <Groups>groups</Groups>
        <OldPwd>Old password</OldPwd>
        <Pwd1>New password</Pwd1>
        <Pwd2>Reenter new password</Pwd2>
        <PwdOk>Your password has been changed.</PwdOk>

        <RemoveUserConfirm>Delete current user?</RemoveUserConfirm>
        <UserOptions>
            <Title>User can</Title>
            <AllowAccess>Sign in</AllowAccess>
            <AllowEdit>Edit content</AllowEdit>
            <AllowAdmin>Manage users</AllowAdmin>
            <AllowSysAdmin>Manage system admins</AllowSysAdmin>
            <Groups>User is member of these groups</Groups>
        </UserOptions>
    </UM>

    <!-- Registrace -->
    <Registrations>
        <Title>Licences for JellyPot</Title>

        <Name>domain name</Name>
        <ValidFrom>valid from (d/m/y}</ValidFrom>
        <ValidTo>valid to (d/m/y)</ValidTo>
        <NoLimit>unlimited</NoLimit>
        <Valid>valid</Valid>
        <Unvalid>invalid</Unvalid>

        <BadKey1>Registration key for domain {0} is not valid.</BadKey1>
        <BadKey2>Registration key is not valid.</BadKey2>
        <BadKey3>For the current request was not found valid registration.</BadKey3>
    </Registrations>

    <!-- test chyb a mailu -->
    <ErrTest>
        <Title>About &amp; Errors</Title>

        <Email>
            <Title>Send testing error log mail</Title>
            <Dest>recipient address</Dest>
            <NoDest>is not entered</NoDest>
            <Sent>Sent</Sent>

            <ServerTable>
                <ForAtt>error type</ForAtt>
                <Server>SMTP server</Server>
                <Recipient>recipient</Recipient>
            </ServerTable>

            <NoLogMails>There are no log mails in current configuration.</NoLogMails>
            <NoMail>Log mail was not selected.</NoMail>
            <BadEmail>Recipients email address is no valid.</BadEmail>
            <!--<NoServer>No SMTP server.</NoServer>
		<NoTo>No recipient email.</NoTo>
		<NoFrom>E-mail address of the sender is not specified.</NoFrom>-->
            <SendOk>Testing message was sent without error.</SendOk>
            <SendErr>Sending failed. See details bellow.</SendErr>
            <MailSubject>Test: testing message</MailSubject>
            <MailBody></MailBody>
        </Email>

        <Err>
            <Title>Simulate errors</Title>
            <Desc>
                Press button to simulate application error of selected type.
                Event will be entered in the application log and error message will be also send by email (if configured).
                This function is used to test error handling the configuration.
            </Desc>

					<Invoke>Invoke error of kind:</Invoke>
					<GoErrs>errs</GoErrs>
					<GoWrongTypes>wrongTypes</GoWrongTypes>
					<GoUnvalidVars>unvalidVars</GoUnvalidVars>
					<GoCrawlers>crawlers</GoCrawlers>
					<WasInvokedWrongTypes>Simulated error of wrongTypes type was invoked.</WasInvokedWrongTypes>
					<WasInvokedUnvalidVars>Simulated error of unvalidVars type was invoked.</WasInvokedUnvalidVars>
					<WasInvokedCrawlers>Simulated error of crawlers type was invoked.</WasInvokedCrawlers>
					<ErrDetailWrongTypes>simulated error of wrongTypes type</ErrDetailWrongTypes>
					<ErrDetailUnvalidVars>simulated error of unvalidVars type</ErrDetailUnvalidVars>
					<ErrDetailCrawlers>simulated error of crawlers type</ErrDetailCrawlers>
        </Err>

        <Version>
            <Title>Application version</Title>
            <Net>.NET version</Net>
        </Version>
    </ErrTest>

    <!-- Test emailových formulářů -->
    <EmailTest>
        <Title>Email forms test</Title>
        <Desc>
            This page is designed to verify of communication with email servers (smtp) for
            individual email forms.
        </Desc>
        <ServerTable>
            <Form>form</Form>
            <Server>smtp server</Server>
            <Sender>sender</Sender>
            <Recipient>recipient</Recipient>
            <Undefined>-- undefined --</Undefined>
            <TestOnly>test only</TestOnly>
            <NoForms>There are no email forms defined in this web.</NoForms>
        </ServerTable>
        <ReloadTable>reload table</ReloadTable>
        <OwnMail>use your own recipients email address</OwnMail>
        <Sent>Sent</Sent>

        <SendOk>Testing message was sent without error.</SendOk>
        <SendErr>Sending failed. See details bellow.</SendErr>
        <MailSubject>Test: testing message, form {0}</MailSubject>
        <MailBody></MailBody>
        <NoForm>No form has been selected.</NoForm>
        <BadEmail>Recipients email address is no valid.</BadEmail>

        <Simulation>Simulated sending (see the server configuration)</Simulation>
        <UnspecifiedError>Wrong input</UnspecifiedError>
        <NoSpamEmail>To test the spammer configuration, you must set your own recipients email address.</NoSpamEmail>
    </EmailTest>

    <!-- vychozi zprava emailoveho formulare -->
    <Emails>
        <Subject>Message from mail form of application {0} ({1})</Subject>
        <Date>Date and time (day, month, year): {0:d.M.yyyy, H:mm:ss}</Date>
        <IP>IP</IP>
        <XIP>xIP</XIP>
    </Emails>

    <!-- Admin tools -->
    <AdminTools>
        <Title>Admin Tools</Title>
        <Desc></Desc>

        <TextFiles>
            <Title>Text files check</Title>
            <Desc htmlContent="true">
                After click to button the text files will be checked.
                There's checked that all texts in default text file <strong>{0}</strong> are contained in other text files.
            </Desc>
            <NoLangs>This tool can be used only, if some languages are defined in site.config file.</NoLangs>
            <Check>Check</Check>
            <CheckAdminFiles>check admin files</CheckAdminFiles>

            <!-- chybova hlaseni -->
            <CheckOk>Text files are OK.</CheckOk>
            <CheckAdminOk>Admin text files are OK.</CheckAdminOk>
            <MissingMandatoryText htmlContent="true">
                Missing mandatory text <strong>{1}</strong> in text file <strong>{0}</strong>.
            </MissingMandatoryText>
            <MissingText htmlContent="true">
                Missing text <strong>{1}</strong> in text file <strong>{0}</strong>.
            </MissingText>
        </TextFiles>

        <Resave>
            <Title>Resave all variables</Title>
            <Desc>
                Resave all values in JellyPot database.
                This tools can be used when redundant fields are needed to write again to database
                after site.config change and so on.
            </Desc>
            <Resave>resave</Resave>
        </Resave>

        <Cache>
            <Title>Clear server cache</Title>
            <Desc>
                All temporary data cached by JellyPot will be removed.
            </Desc>
            <Go>Clear cache</Go>
        </Cache>
    </AdminTools>

    <!-- MediaAdmin tools -->
    <MediaAdminTools>
        <Title>Media Tools</Title>
        <Desc>Image and file maintenance.</Desc>

        <Check>
            <Title>Check and resave images and files</Title>
            <Desc>
                After click to button check linked images and files will be process
                including check existence files on the disk.
                Some types of errors can be repaired by JellyPot itself.
            </Desc>
            <Check>check</Check>

            <ResultTitle>check images and files</ResultTitle>
            <ResultOk>Checking images and files held without errors.</ResultOk>
            <ResultErr>Following errors were found when checking images and files (number of errors: {0})</ResultErr>
        </Check>

        <Repair>
            <Repair>Repair</Repair>

            <ResultTitle>Repair images and files</ResultTitle>
            <ResultOk>All errors were repaired.</ResultOk>
            <ResultErr>Some errors can not be repaired.</ResultErr>
        </Repair>

        <Delete>
            <Title>Delete unused images and files</Title>
            <DescMove>
                Moves all unused images and files to trash folder.
                Is it possible to delete all
                files from those trash folders without violating the web site.
            </DescMove>
            <DescDelete>
                After click to button all unused images and files will be deleted
                from disk.
            </DescDelete>
            <Delete>Delete</Delete>

            <NoFiles>No files to delete.</NoFiles>
            <MoveOk>All unused files have been trashed.</MoveOk>
            <DeleteOk>All unused files have been deleted.</DeleteOk>
            <MoveErr>Some errors ocured when moving files to trash.</MoveErr>
            <DeleteErr>Some errors ocured when deleting files.</DeleteErr>
            <FilesMovedCount>Moved {0} files</FilesMovedCount>
            <FilesDeletedCount>Deleted {0} files</FilesDeletedCount>
        </Delete>
    </MediaAdminTools>

    <!-- Export a import -->
    <Exi>
        <Title>Export and import of web content</Title>
        <Desc></Desc>

        <Export>
            <Title>Export</Title>
            <Desc htmlContent="true">
                <p>
                    Resulting XML file contains all fields of variables or collections.
                    File does not contain uploaded images or files,
                    there are possible to transfer them by simply copying.

                    Is possible to suppress export of some fields or variables by
                    setting attribute <span class="code">exiOptions="noExport"</span>
                    in site.config file.
                </p>
            </Desc>
					<ExportExplicit htmlContent="true">
						<p class="resultWarn">Explicit export mode is active.</p>
					</ExportExplicit>
					<Notes htmlContent="true">
                <p class="note">Export/import files contained in FileGallery is impossible yet.</p>
            </Notes>
            <Export11>Export v. 1.1</Export11>
            <Export21>Export v. 2.1</Export21>
            <Export22>Export v. 2.2</Export22>
        </Export>

        <Import>
            <Title>Import</Title>
            <Desc htmlContent="true">
                <p>
                    Content of web will be replaced with content of XML file.
                    Only these variables and collections will be replaced,
                    which are contained in imported files.
                </p>
            </Desc>
            <Notes htmlContent="true">
                <p class="note"></p>
                <p class="note"></p>
            </Notes>

            <BrowseLabel>Select XML file with content of web:</BrowseLabel>
            <Browse>Browse</Browse>
            <NoFile></NoFile>
            <Import>Import</Import>
            <TestOnly>Test import only</TestOnly>
            <Repeat>Repeat import</Repeat>

            <Results>
                <BadXml>Error parsing XML file.</BadXml>
                <BadVersion>Import is inpossible, invalid file version.</BadVersion>
                <DoneOk>Done, OK</DoneOk>
                <DoneWithErr>Done with errors</DoneWithErr>
                <NoFile>No file was attached.</NoFile>
            </Results>
        </Import>
    </Exi>


    <!-- Spammer -->
    <Spammer>
        <Send>Send</Send>
        <Set>Set</Set>
    </Spammer>

    <!-- ostatni, ruzne -->
    <Misc>
        <ListPickerChange>Change</ListPickerChange>
        <HelpRest>Formated text help</HelpRest>
        <DoneOk>Done, OK</DoneOk>
        <DoneErr>Done, with errors</DoneErr>
        <Yes>Yes</Yes>
        <yes>yes</yes>
        <No>No</No>
        <no>no</no>
        <!-- popisy ikon v log vypisech -->
        <Log>
            <Err>error</Err>
            <Wrn>warning</Wrn>
            <Else>information</Else>
        </Log>
    </Misc>

    <!-- vypnuty js a nepodporovane prohlizece -->
    <UnsupBrow>
        <Js>
            <Head>Please, enable JavaScript in your browser</Head>
            <Body htmlContent="true">
                <p>
                    JellyPot administration uses modern technologies
                    which can not run without JavaScript support.
                    To continue, please enable JavaScipt in your browser.
                </p>
            </Body>
        </Js>
        <Brow>
            <Head>Please, update your browser to use JellyPot administration</Head>
            <BodyA htmlContent="true">
                <p>
                    JellyPot administration uses modern technologies which are supported only by newer browsers.
                    Old browsers are also slow and may be a security risk.
                    You will need one of the modern browsers to use JellyPot administration:
                </p>
            </BodyA>
            <BodyB htmlContent="true">
                <p class="note">
                    We do not promise that the administration will run on beta or pre-release versions of these browsers.
                    Use a stable public release, which are commonly available. On the other hand, administration may run
                    in other browsers, such as current Opera. However for those we do not promise it and we consider them as unsupported.
                </p>
            </BodyB>
            <Actual>Actual</Actual>
        </Brow>
    </UnsupBrow>

</Texts>