<?xml version="1.0" encoding="utf-8" ?> 
<!-- definice mime typu pro download souboru -->

<MimeTypes>
	<type ext="doc" mime="application/msword" />
	<type ext="bin" mime="application/octet-stream" />
	<type ext="lha" mime="application/octet-stream" />
	<type ext="exe" mime="application/octet-stream" />
	<type ext="dll" mime="application/octet-stream" />
	<type ext="pdf" mime="application/pdf" />
	<type ext="eps" mime="application/postscript" />
	<type ext="ps" mime="application/postscript" />
	<type ext="xls" mime="application/vnd.ms-excel" />
	<type ext="ppt" mime="application/vnd.ms-powerpoint" />
	<type ext="tar" mime="application/x-tar" />
	<type ext="zip" mime="application/zip" />

	<type ext="bmp" mime="image/bmp" />
	<type ext="ief" mime="image/ief" />
	<type ext="tiff" mime="image/tiff" />
	<type ext="tif" mime="image/tiff" />
	<type ext="xbm" mime="image/x-xbitmap" />
	<type ext="wrl" mime="model/vrml" />
	<type ext="vrml" mime="model/vrml" />
	<type ext="css" mime="text/css" />
	<type ext="html" mime="text/html" />
	<type ext="htm" mime="text/html" />
	<type ext="asc" mime="text/plain" />
	<type ext="txt" mime="text/plain" />
	<type ext="rtx" mime="text/richtext" />
	<type ext="rtf" mime="text/rtf" />
	<type ext="sgml" mime="text/sgml" />
	<type ext="sgm" mime="text/sgml" />
	<type ext="xml" mime="text/xml" />
	<type ext="mpeg" mime="video/mpeg" />
	<type ext="mpg" mime="video/mpeg" />
	<type ext="mpe" mime="video/mpeg" />
	<type ext="qt" mime="video/quicktime" />
	<type ext="mov" mime="video/quicktime" />
	<type ext="avi" mime="video/x-msvideo" />
	<type ext="rar" mime="application/rar" />
	
	<type ext="ai" mime="application/postscript" />
	<type ext="aif" mime="audio/aiff" />
	<type ext="pps" mime="application/vnd.ms-powerpoint" />
	
	<!-- media -->
	<type ext="jpeg" mime="image/jpeg" />
	<type ext="jpg" mime="image/jpeg" />
	<type ext="jpe" mime="image/jpeg" />
	<type ext="png" mime="image/png" />
	<type ext="gif" mime="image/gif" />
  <type ext="svg" mime="image/svg+xml" />

  <type ext="swf" mime="application/x-shockwave-flash" />
	<type ext="flv" mime="video/x-flv" />
	<type ext="mp4" mime="video/mp4" />
	<type ext="webm" mime="video/webm" />

	<!-- audio -->
	<type ext="mid" mime="audio/midi" />
	<type ext="midi" mime="audio/midi" />
	<type ext="mp2" mime="audio/mpeg" />
	<type ext="mp3" mime="audio/mpeg" />
	<type ext="m3u" mime="audio/x-mpegurl" />

	<!-- ostatni -->
	<type ext="ttf" mime="application/x-font-TrueType" />

</MimeTypes>
