<?xml version="1.0" encoding="utf-8" ?>

<Robots version="1.0">
  <!-- List of robots userAgent strings, each enclosed in <Robot> element. -->
  <!-- Example: -->
  <!--
	  <Robot>facebookexternalhit/1.1 (+http://www.facebook.com/externalhit_uatext.php)</Robot>
  	<Robot>Mozilla/5.0 (compatible; AhrefsBot/1.0; +http://ahrefs.com/robot/)</Robot>
  --> 
</Robots>