.footer {
    &__contact {
        padding-bottom: 4.5rem;
        margin-bottom: 4.5rem;
        border-bottom: 0.1rem solid $white;

        &-label {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 2rem;

            @include breakpoint ("medium") {
                font-size: 2.2rem;
                margin-bottom: 5rem;
            }
        }

        @include breakpoint ("medium") {
            padding-bottom: 7.5rem;
            margin-bottom: 7.5rem;
        }

        &-item {
            display: flex;
            gap: 2rem;
            cursor: pointer;

            & + & {
                margin-top: 2rem;
            }

            @include breakpoint ("medium") {
                gap: 3.5rem;
            }

            &-text {
                font-size: 1.8rem;
                font-weight: 700;

                @include breakpoint ("medium") {
                    font-size: 2rem;
                }

                &:hover {
                    color: $goldenOrange;
                    text-decoration: underline;
                    text-decoration-color: $goldenOrange;
                    text-underline-offset: 1rem;
                    text-decoration-thickness: 0.05rem;
                    transition: $timing-normal;
                }
            }
        }

        &--client {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }
    }

    &__identity {
        margin-bottom: 4.5rem;

        &-logo {
            margin-bottom: 1.5rem;
        }

        &-text {
            p {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 2;
            }
        }

        @include breakpoint ("medium") {
            margin-bottom: 7.5rem;
        }
    }

    &__block {
        margin-bottom: 4.5rem;

        &-links {
            display: flex;
            flex-direction: column;
            //justify-content: center;
            margin: 2.5rem 0;

            @include breakpoint ("medium") {
                margin: 0;
            }

            @include breakpoint ("large") {
                justify-content: flex-end;
            }

            &-wrapper {
                display: flex;
                gap: 3rem;

                &:hover .footer__block-links-icon {
                    transform: translateX(0.5rem);
                }

                & + & {
                    margin-top: 1rem;

                    @include breakpoint ("medium") {
                        margin-top: 3rem;
                    }
                }
            }

            &-icon {
                transition: transform 0.3s ease;
            }
            
            &-text {
                font-family: $font-s;
                color: $goldenOrange;
                font-size: 2rem;
                font-weight: 800;
            }
        }

        &-social {
            &-title {
                font-size: 1.4rem;
                margin-left: 0.1rem;
            }
            &-icon {
                width: 3.5rem;
                height: 3.5rem;
                margin-top: 1.3rem;
                margin-right: 0.7rem;
            }
        }

        @include breakpoint ("medium") {
            margin-bottom: 7.5rem;
        }
    }

    &__legal {
        color: $white;
        opacity: 50%;
        font-size: 1.8rem;
        font-weight: 400;

        &-content {
            &-cookies {
                margin-top: 3rem;
            }
        }
    }
}